.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: auto;
  min-width: 200px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: cover;
  background-position: center;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0px 0px 20px 11px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    .global-note,
    .actions-wrapper {
      opacity: 1;
      transition: all 0.2s ease-in-out;
      color: var(--color-white);
    }

    .poster {
      opacity: 0.75;
      transition: all 0.2s ease-in-out;
      transform: scale(1.15);
    }
  }

  .poster-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    overflow: hidden;
    border-radius: 6px;
    height: 100%;

    .poster {
      height: 100%;
    }
  }

  .global-note {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Century Gothic';
    width: 75px;
    height: 75px;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50px;
  }

  .actions-wrapper {
    position: absolute;
    opacity: 0;
    padding: var(--gutter-md);
    width: 100%;
  }

  .title {
    width: inherit;
    word-wrap: break-word;
    color: var(--color-white);
    text-align: center;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding: var(--gutter-md) var(--gutter-xs);
  }
}
