
.star-wrapper {
  display: flex;
  flex-grow: 10;
}

.fa-star {
  height: auto;
  color: white;
    opacity :0.6;


  &.active-star {
    color: #ffd53b;
    opacity: 1;
  }

  &.hovered {
    opacity: 0.4;
  }

}