.actions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  color: white;
  border-radius: 50px;
  padding: var(--gutter-sm);


  .fa-heart, .fa-star, .fa-tasks {
    max-width: 10%;
  }

  .fa-heart {
    margin-right: var(--gutter-sm);

  }
  .fa-star {
    flex-grow: 1;
  }

}

