.actions-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  color: white;
  border-radius: 50px;
}

.star-wrapper {
  display: flex;
}

.fa-heart {
  width: 24px;
  height: auto;
}

.fa-heart {
  margin: 12px;
  color: rgba(255, 255, 255, 0.6);

  &:hover {
    color: #ba1f58;
  }
}
