.backdrop {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  background-position: center;

  &__overlay {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color);
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;

    z-index: 1;
    margin: 24px;
  }

  &__rating {
    position: absolute;
    top: 48px;
    right: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    font-size: 70px;
    border: solid 3px white;
    border-radius: 50%;
  }

  &__title {
    width: 100%;
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 12px;
  }

  &__subtitle {
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
    & > * {
      position: relative;
      margin-right: 12px;
      &:after {
        position: absolute;
        content: "•";
        right: -8px;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }


  &__distribution {
    & > * {
      margin-bottom: 8px;
    }
  }

  &__infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 24px;
  }

  &__release-year{
    font-size: 30px;
    font-weight: lighter;
  }


  & .actions-wrapper {
    margin-bottom: 12px;
    .fa-star, .fa-heart {
      width: 40px;
    }
  }

  &__tagline {
    width: 100%;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 12px;
  }

  &__synopsis {
    margin-bottom: 24px;
    &__title {
      font-size: 24px;
      margin-bottom: 12px;
      font-weight: bold;

    }

    &__content {
      font-size: 18px;
      line-height: 24px;

    }
  }
}

