@import './ToggleButton.parameters';

.toggle__tabs {
  margin: var(--gutter-md) 0 0;
  border-radius: 50px;
  color: black;
  background-image: linear-gradient(#ffdd00 0%, #fca11f 100%);
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .toggle__tab-item {
    padding: var(--gutter-md);
    cursor: pointer;
    margin-left: var(--toggle-button-margin-compensation);
    padding-right: calc(-1 * var(--toggle-button-margin-compensation) + var(--gutter-md));
    padding-left: calc(-1 * var(--toggle-button-margin-compensation) + var(--gutter-md));
    border-radius: 50px;
    z-index: 0;
    text-align: center;
    transition: background, color 0.3s ease-in-out;

    color: white;
    &:first-child {
      margin-left: 0;
      padding-left: calc(-1 * var(--toggle-button-margin-compensation));
    }

    &:last-child {
      padding-right: calc(-1 * var(--toggle-button-margin-compensation));
    }

    &.before {
      padding-right: calc(-1 * var(--toggle-button-margin-compensation) + var(--gutter-lg));
    }

    &.active {
      background: white;
      color: black;
      border: solid 1px white;
      z-index: 1;
      transition: opacity 0.3s ease-in-out;

      & + .toggle__tab-item {
        padding-left: calc(-1 * var(--toggle-button-margin-compensation) + var(--gutter-lg));
      }

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      background: white;

      color: black;
      opacity: 0.5;
      border-color: white;
    }
  }
}
