.homepage {
  width: 100%;
}

.container {
  margin: 0 var(--gutter-lg);
}

.movie {
  &__release-date {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}
.movie-list {
  grid-gap: 17px;
  margin-top: 32px;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: baseline;
  overflow: hidden;

  &__item {
    margin-top: var(--gutter-lg);
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, 208px);

    &__title {
      width: 100%;
      margin-bottom: var(--gutter-lg);
    }
  }
}
