.homepage {
  width: 100%;
  &__media {
    margin: var(--gutter-md);
    height: 300px;
  }
}

.media {
  &__release-date {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

.medias-wrapper {
  grid-gap: 17px;
  margin-top: 32px;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: baseline;
  overflow: hidden;

  .medias__section {
    margin-top: var(--gutter-lg);
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, 208px);
  }

  .medias__section__title {
    width: 100%;
    margin-bottom: var(--gutter-sm);
  }
}
