.scrollbar-horizontal {
  display: flex;
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden;
  padding-bottom: 12px;
  margin-bottom: 12px;
  flex-grow: 1;
  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);
    border-radius: 20px;
  }
}