.movie {
  position: relative;
  width:  250px;
  margin-right: var(--gutter-md);
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .global-note, .actions-wrapper {
      opacity: 1;
      transition: all .2s ease-in-out;
      color: white;
    }

    .poster {
      opacity: 0.75;
      transition: all .2s ease-in-out;
      transform: scale(1.15);
    }
  }


  .poster-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
  }

  .poster {
    width: 100%;
  }

  .global-note {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic";
    width: 75px;
    height: 75px;
    opacity: 0;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50px;
  }

  .actions-wrapper {
    position: absolute;
    opacity: 0;
    padding: var(--gutter-md);

  }

  .title {
    width: inherit;
    word-wrap: break-word;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding: var(--gutter-md) var(--gutter-xs);
  }
}

