.movie-details {
  &__content {
    max-width: calc(100vw - 8px);
    padding: 0 var(--gutter-lg);
  }

  &__recommendations {
    display: flex;
    flex-wrap: wrap;

    &__title {
      width: 100%;
      margin: var(--gutter-md) 0;
      font-size: var(--font-size-md);
    }
  }
}